### Objective 2 - Analysis of Movement of Tourists and Analysis of Nationalities 

- André Novo
- Beatriz Paulino
- Catarina Brito
- Luís Pereira

In [1]:
# Used Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob
from collections import Counter

In [2]:
# Path
root = os.getcwd()
path = os.path.join(root, "data")

#### Load and Preview the Datasets
Months in analysis: 
- June
- July 
- August

In [10]:
# Load the tourism data CSV file
all_files = glob.glob(path + "/*.csv")
data = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

### Read wkt file

In [12]:
wkt = pd.read_csv(os.path.join(root, 'wktComplete.csv'), encoding='utf-8')

### Merge datasets

In [18]:
# Merge wkt with data
df =  wkt.merge(data, on='Grid_ID', how='left')

In [19]:
# Display unique values in the 'freguesia' column
df["freguesia"].unique() # 24 parishes

array(['Alcântara', 'Campo de Ourique', 'Misericórdia',
       'Santa Maria Maior', 'Ajuda', 'Arroios', 'Campolide', 'Benfica',
       'Beato', 'Belém', 'Areeiro', 'Marvila', 'Avenidas Novas',
       'Estrela', 'Parque das Nações', 'Santa Clara', 'Olivais',
       'Santo António', 'Lumiar', 'São Vicente', 'Carnide',
       'Penha de França', 'Alvalade', 'São Domingos de Benfica'],
      dtype=object)

### Select desired zones

In [26]:
importants = ['Misericórdia', 'Santa Maria Maio', 'São Vicente', 'Penha de França', 'Arroios', 'Avenidas Novas', 'Santo António', 'Olivais', 'Parque das Nações']
filter = df['freguesia'].isin(importants)

# Create a new DataFrame with the rows that satisfy the condition
new = df[filter]

          Grid_ID     freguesia  grelha_x  grelha_y   latitude  longitude  \
128158        683  Misericórdia        49        17  38.714527  -9.144179
128159        683  Misericórdia        49        17  38.714527  -9.144179
128160        683  Misericórdia        49        17  38.714527  -9.144179
128161        683  Misericórdia        49        17  38.714527  -9.144179
128162        683  Misericórdia        49        17  38.714527  -9.144179
...           ...           ...       ...       ...        ...        ...
95862566     1317       Arroios        49        28  38.729946  -9.144179
95862567     1317       Arroios        49        28  38.729946  -9.144179
95862568     1317       Arroios        49        28  38.729946  -9.144179
95862569     1317       Arroios        49        28  38.729946  -9.144179
95862570     1317       Arroios        49        28  38.729946  -9.144179

                 nome                                           position  \
128158    Bairro Alto  {'type': 'GeometryCollection', 'geometries': [...
128159    Bairro Alto  {'type': 'GeometryCollection', 'geometries': [...
128160    Bairro Alto  {'type': 'GeometryCollection', 'geometries': [...
128161    Bairro Alto  {'type': 'GeometryCollection', 'geometries': [...
128162    Bairro Alto  {'type': 'GeometryCollection', 'geometries': [...
...               ...                                                ...
95862566    Estefânea  {'type': 'GeometryCollection', 'geometries': [...
95862567    Estefânea  {'type': 'GeometryCollection', 'geometries': [...
95862568    Estefânea  {'type': 'GeometryCollection', 'geometries': [...
95862569    Estefânea  {'type': 'GeometryCollection', 'geometries': [...
95862570    Estefânea  {'type': 'GeometryCollection', 'geometries': [...

                                                        wkt  \
128158    MULTIPOLYGON (((-9.14327754058952 38.713825240...
128159    MULTIPOLYGON (((-9.14327754058952 38.713825240...
128160    MULTIPOLYGON (((-9.14327754058952 38.713825240...
128161    MULTIPOLYGON (((-9.14327754058952 38.713825240...
128162    MULTIPOLYGON (((-9.14327754058952 38.713825240...
...                                                     ...
95862566  MULTIPOLYGON (((-9.14327754058952 38.729244191...
95862567  MULTIPOLYGON (((-9.14327754058952 38.729244191...
95862568  MULTIPOLYGON (((-9.14327754058952 38.729244191...
95862569  MULTIPOLYGON (((-9.14327754058952 38.729244191...
95862570  MULTIPOLYGON (((-9.14327754058952 38.729244191...

                          Datetime          C1          C2          C3  \
128158    2022-07-01T00:00:00.000Z  716.250000  400.359985  666.349976
128159    2022-07-01T00:05:00.000Z  718.890015  376.149994  667.619995
128160    2022-07-01T00:10:00.000Z  734.659973  385.320007  688.190002
128161    2022-07-01T00:15:00.000Z  742.469971  390.220001  678.650024
128162    2022-07-01T00:20:00.000Z  738.650024  408.880005  696.609985
...                            ...         ...         ...         ...
95862566          2022-06-27 22:30  191.410000   31.100000  161.540000
95862567          2022-06-27 08:20  308.970000   34.790000  238.400000
95862568          2022-06-27 13:45  378.660000   18.330000  353.630000
95862569          2022-06-27 10:40  369.480000   15.730000  343.880000
95862570          2022-06-27 18:55  175.760000   44.330000  127.230000

                  C4                                                 D1    E8
128158    378.220001  Spain;France;Germany;Italy;Switzerland;Poland;...  5.72
128159    347.940002  Spain;Italy;United Kingdom;Germany;Poland;Fran...  6.57
128160    363.190002  Spain;United Kingdom;Switzerland;Germany;Belgi...  5.15
128161    359.220001  Spain;France;United Kingdom;Germany;Slovenia;S...  5.83
128162    392.519989  Germany;France;Spain;United Kingdom;Belgium;Sl...  5.42
...              ...                                                ...   ...
95862566   24.880000                       Italy;United Kingdom;Finland  3.02
95862567   29.820000  France;China;Serbia;New Zealand;United Kingdom...  3.66
95862568   13.750000  Romania;Brazil;Spain;United Kingdom;Switzerlan...  4.68
95862569   15.730000  Italy;Spain;United Kingdom;Switzerland;Belgium...  5.06
95862570   33.250000  Italy;Spain;United Kingdom;Finland;Austria;Lux...  3.67

[28009731 rows x 16 columns]

### Save dataset for tourism

In [30]:
new.to_csv(os.path.join(root, 'tourism.csv'), index=False)

### Read tourism dataset to solve date problems

In [31]:
root = os.getcwd()
path = os.path.join(root, "data")
tourism = pd.read_csv(os.path.join(root, 'tourism.csv'))

In [32]:
tourism.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28009731 entries, 0 to 28009730
Data columns (total 16 columns):
 #   Column     Dtype
---  ------     -----
 0   Grid_ID    int64
 1   freguesia  object
 2   grelha_x   int64
 3   grelha_y   int64
 4   latitude   float64
 5   longitude  float64
 6   nome       object
 7   position   object
 8   wkt        object
 9   Datetime   object
 10  C1         float64
 11  C2         float64
 12  C3         float64
 13  C4         float64
 14  D1         object
 15  E8         float64
dtypes: float64(7), int64(3), object(6)
memory usage: 3.3+ GB

In [33]:
tourism["Datetime"]

0           2022-07-01T00:00:00.000Z
1           2022-07-01T00:05:00.000Z
2           2022-07-01T00:10:00.000Z
3           2022-07-01T00:15:00.000Z
4           2022-07-01T00:20:00.000Z
                      ...
28009726            2022-06-27 22:30
28009727            2022-06-27 08:20
28009728            2022-06-27 13:45
28009729            2022-06-27 10:40
28009730            2022-06-27 18:55
Name: Datetime, Length: 28009731, dtype: object

In [34]:
# Filter that matches the date standards
pattern_iso = r'\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}.\d{3}Z'
pattern_space = r'\d{4}-\d{2}-\d{2} \d{2}:\d{2}'

# Apply the filter to the data
filtered_data_iso = tourism[tourism['Datetime'].str.contains(pattern_iso)]

In [35]:
# Apply the filter to the data
filtered_data_space = tourism[tourism['Datetime'].str.contains(pattern_space)]

In [38]:
# Convert the 'Datetime' column to datetime format
filtered_data_iso['Datetime'] = pd.to_datetime(filtered_data_iso['Datetime'])

# Create a new Datetime column in the format 'YYYY-MM-DD HH:MM'
filtered_data_iso['new_datetime'] = filtered_data_iso['Datetime'].dt.strftime('%Y-%m-%d %H:%M')

/var/folders/4f/7k81zvl55vn3c2nm1104whpc0000gn/T/ipykernel_28749/110442000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_iso['Datetime'] = pd.to_datetime(filtered_data_iso['Datetime'])
/var/folders/4f/7k81zvl55vn3c2nm1104whpc0000gn/T/ipykernel_28749/110442000.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_iso['new_datetime'] = filtered_data_iso['Datetime'].dt.strftime('%Y-%m-%d %H:%M')

In [39]:
# Same but for the space pattern
filtered_data_space['Datetime'] = pd.to_datetime(filtered_data_space['Datetime'])
filtered_data_space['new_datetime'] = filtered_data_space['Datetime'].dt.strftime('%Y-%m-%d %H:%M')

/var/folders/4f/7k81zvl55vn3c2nm1104whpc0000gn/T/ipykernel_28749/4226856815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_space['Datetime'] = pd.to_datetime(filtered_data_space['Datetime'])
/var/folders/4f/7k81zvl55vn3c2nm1104whpc0000gn/T/ipykernel_28749/4226856815.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_space['new_datetime'] = filtered_data_space['Datetime'].dt.strftime('%Y-%m-%d %H:%M')

In [20]:
# Check the new columns
filtered_data_space

,Grid_ID,freguesia,grelha_x,grelha_y,latitude,longitude,nome,position,wkt,Datetime,C1,C2,C3,C4,D1,E8,new_datetime
17856,802,Arroios,52,19,38.717331,-9.138789,Pena,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.1378876488848 38.7166289332...,2022-06-02 16:30:00,224.62,24.02,183.72,17.47,Italy;Spain;France;United Kingdom;Poland;Irela...,3.47,2022-06-02 16:30
17857,802,Arroios,52,19,38.717331,-9.138789,Pena,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.1378876488848 38.7166289332...,2022-06-02 21:10:00,153.43,46.24,107.64,31.79,Spain;Luxembourg;Brazil;Belgium;France;Germany...,4.35,2022-06-02 21:10
17858,802,Arroios,52,19,38.717331,-9.138789,Pena,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.1378876488848 38.7166289332...,2022-06-02 18:15:00,98.16,18.98,70.38,16.27,Germany;United Kingdom;Finland;Poland;Ukraine,2.83,2022-06-02 18:15
17859,802,Arroios,52,19,38.717331,-9.138789,Pena,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.1378876488848 38.7166289332...,2022-06-02 18:35:00,116.91,16.29,52.58,10.86,Brazil;Spain;France;Romania,4.86,2022-06-02 18:35
17860,802,Arroios,52,19,38.717331,-9.138789,Pena,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.1378876488848 38.7166289332...,2022-06-02 12:05:00,196.19,22.79,165.91,15.67,Austria;United Kingdom;Brazil;Italy;Spain;Germ...,5.14,2022-06-02 12:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15379311,3006,Olivais,68,55,38.767778,-9.110043,Av. de Berlim,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.10914155979298 38.767076600...,2022-06-27 20:05:00,88.85,0.00,64.39,0.00,NaN,3.46,2022-06-27 20:05
15379312,3006,Olivais,68,55,38.767778,-9.110043,Av. de Berlim,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.10914155979298 38.767076600...,2022-06-27 15:45:00,88.81,3.24,82.86,3.24,Spain;Estonia,5.20,2022-06-27 15:45
15379313,3006,Olivais,68,55,38.767778,-9.110043,Av. de Berlim,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.10914155979298 38.767076600...,2022-06-27 03:20:00,86.79,0.00,85.74,0.00,NaN,6.30,2022-06-27 03:20
15379314,3006,Olivais,68,55,38.767778,-9.110043,Av. de Berlim,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.10914155979298 38.767076600...,2022-06-27 08:45:00,156.84,7.85,85.47,4.71,Mexico;Brazil;Ukraine;Switzerland,5.74,2022-06-27 08:45
15379315,3006,Olivais,68,55,38.767778,-9.110043,Av. de Berlim,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.10914155979298 38.767076600...,2022-06-27 17:00:00,115.32,0.00,68.27,0.00,NaN,4.37,2022-06-27 17:00

In [40]:
# Drop the 'Datetime' column
filtered_data_space.drop(['Datetime'], axis=1, inplace=True)
filtered_data_iso.drop(['Datetime'], axis=1, inplace=True)

/var/folders/4f/7k81zvl55vn3c2nm1104whpc0000gn/T/ipykernel_28749/2927227302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_space.drop(['Datetime'], axis=1, inplace=True)
/var/folders/4f/7k81zvl55vn3c2nm1104whpc0000gn/T/ipykernel_28749/2927227302.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data_iso.drop(['Datetime'], axis=1, inplace=True)

In [41]:
tourism_date_resolved = pd.concat([filtered_data_space, filtered_data_iso])

In [23]:
tourism_date_resolved

,Grid_ID,freguesia,grelha_x,grelha_y,latitude,longitude,nome,position,wkt,C1,C2,C3,C4,D1,E8,new_datetime
17856,802,Arroios,52,19,38.717331,-9.138789,Pena,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.1378876488848 38.7166289332...,224.620000,24.02,183.720000,17.47,Italy;Spain;France;United Kingdom;Poland;Irela...,3.47,2022-06-02 16:30
17857,802,Arroios,52,19,38.717331,-9.138789,Pena,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.1378876488848 38.7166289332...,153.430000,46.24,107.640000,31.79,Spain;Luxembourg;Brazil;Belgium;France;Germany...,4.35,2022-06-02 21:10
17858,802,Arroios,52,19,38.717331,-9.138789,Pena,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.1378876488848 38.7166289332...,98.160000,18.98,70.380000,16.27,Germany;United Kingdom;Finland;Poland;Ukraine,2.83,2022-06-02 18:15
17859,802,Arroios,52,19,38.717331,-9.138789,Pena,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.1378876488848 38.7166289332...,116.910000,16.29,52.580000,10.86,Brazil;Spain;France;Romania,4.86,2022-06-02 18:35
17860,802,Arroios,52,19,38.717331,-9.138789,Pena,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.1378876488848 38.7166289332...,196.190000,22.79,165.910000,15.67,Austria;United Kingdom;Brazil;Italy;Spain;Germ...,5.14,2022-06-02 12:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15371535,3006,Olivais,68,55,38.767778,-9.110043,Av. de Berlim,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.10914155979298 38.767076600...,63.110001,0.00,58.169998,0.00,NaN,3.28,2022-08-31 23:35
15371536,3006,Olivais,68,55,38.767778,-9.110043,Av. de Berlim,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.10914155979298 38.767076600...,48.410000,0.00,42.540001,0.00,NaN,6.44,2022-08-31 23:40
15371537,3006,Olivais,68,55,38.767778,-9.110043,Av. de Berlim,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.10914155979298 38.767076600...,47.400002,0.00,43.009998,0.00,NaN,4.97,2022-08-31 23:45
15371538,3006,Olivais,68,55,38.767778,-9.110043,Av. de Berlim,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.10914155979298 38.767076600...,46.060001,1.80,42.880001,0.00,Sweden,3.61,2022-08-31 23:50
15371539,3006,Olivais,68,55,38.767778,-9.110043,Av. de Berlim,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.10914155979298 38.767076600...,42.570000,0.00,42.570000,0.00,NaN,3.98,2022-08-31 23:55

In [42]:
tourism_date_resolved.to_csv(os.path.join(root, 'tourism_cleaned.csv'), index=False)

### Separate time and date

In [4]:
# Load the cleaned data
tourism_data = pd.read_csv(os.path.join(root, 'tourism_cleaned.csv'))

In [5]:
# Convert the 'new_datetime' column to datetime format
tourism_data["new_datetime"] = pd.to_datetime(tourism_data["new_datetime"])

# Extract time and date from 'new_datetime'
tourism_data["Time"] = tourism_data["new_datetime"].dt.time
tourism_data["Date"] = tourism_data["new_datetime"].dt.date

# Drop 'new_datetime' column
tourism_data.drop(['new_datetime'], axis=1, inplace=True)

In [6]:
# Save the cleaned dataset with resolved dates to a CSV file
tourism_data.to_csv(os.path.join(root, 'tourism_cleaned_date.csv'), index=False)

### Define foreigners 
- When the column D1 contains more than one country, it is labeled as 'Estrangeiros'

In [3]:
# Read the cleaned tourism dataset with resolved dates
tourism_foreign = pd.read_csv(os.path.join(root, 'tourism_cleaned_date.csv'))

In [4]:
# Display information about the tourism_foreign DataFrame
tourism_foreign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28009731 entries, 0 to 28009730
Data columns (total 17 columns):
 #   Column     Dtype
---  ------     -----
 0   Grid_ID    int64
 1   freguesia  object
 2   grelha_x   int64
 3   grelha_y   int64
 4   latitude   float64
 5   longitude  float64
 6   nome       object
 7   position   object
 8   wkt        object
 9   C1         float64
 10  C2         float64
 11  C3         float64
 12  C4         float64
 13  D1         object
 14  E8         float64
 15  Time       object
 16  Date       object
dtypes: float64(7), int64(3), object(7)
memory usage: 3.5+ GB

In [5]:
# Drop rows with missing values
tourism_foreign.dropna(inplace=True)

In [6]:
# Split the values in column 'D1' by ';'
tourism_foreign["D1"] = tourism_foreign["D1"].str.split(';')

In [7]:
# Iterate over rows and label as 'Estrangeiros' if there are more than one country
for index, row in tourism_foreign.iterrows():
    if len(row["D1"]) >= 2:
        tourism_foreign.at[index, "D1"] = "Estrangeiros"
    # Otherwise, keep the original value

In [8]:
# Save the updated DataFrame to a CSV file
tourism_foreign.to_csv(os.path.join(root, 'tourism_cleaned_foreign.csv'), index=False)

In [9]:
# Display value counts for the 'D1' column
tourism_foreign["D1"].value_counts()

D1
Estrangeiros        16956885
[Spain]               885184
[France]              701072
[United Kingdom]      344211
[Germany]             329623
                      ...
[Kosovo]                   3
[Azerbaijan]               3
[Mali]                     3
[Afghanistan]              2
[Seychelles]               1
Name: count, Length: 141, dtype: int64

### Group by hour 
- No longer used, will use PowerBI
- Useful for networks

In [3]:
# Read the cleaned tourism dataset
tourism_date_resolved = pd.read_csv(os.path.join(root, 'tourism_cleaned.csv'))

In [4]:
# Convert 'new_datetime' column to datetime objects and set as index
tourism_date_resolved['new_datetime'] = pd.to_datetime(tourism_date_resolved['new_datetime'])

# Set 'datetime' column as the index
tourism_date_resolved.set_index('new_datetime', inplace=True)

In [5]:
# Define a function to join strings
def join_strings(x):
    x = x.apply(str) 
    return ','.join(x)

In [6]:
# Define the aggregation methods for each column when grouping
x = {'C1':'sum','C2': 'sum', 'C3':'sum', 'C4':'sum','E8':'sum','D1':join_strings,'freguesia':'first','nome':'first', 'Grid_ID':'first', 'wkt':'first', 'latitude':'first', 'longitude':'first', 'position':'first'}

# Group by 'Grid_ID' and resample the data by hour, applying the defined aggregations
df_hourly = tourism_date_resolved.groupby('Grid_ID').resample('H').agg(x)

In [7]:
# Save the resulting hourly aggregated data to a new CSV file
df_hourly.to_csv(os.path.join(root, 'tourism_hourly.csv'), index=True)